/*Roboto Slaf 400, 700
  Roboto 400 500 700 900
  Roboto Mono 400 500 700
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: cursive, sans-serif;
  font-size: 400;
}

.home-body{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* SECCION SOLO PARA DECORAR EL HEADER! */

.header{
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.social{
  background-color: rgb(171, 121, 218);
  width: 100%;
  height: 45px;
  display: grid;
}

.social-icons{
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 25px;
}

.social-icons a{
  color: #fff;
  font-size: 25px;
}

.social-icons a:hover{
  color: black;
}

.nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

.nav-logo{
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Dj img{
  width: 170px;
  height: 60px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.nav-link{
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 25px;
  font-weight: bold;  
}

.nav-link a{
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
}

.nav-link a:hover{
  color: blueviolet;
}

/* MAIN DEL HOME DEL INDEX */
.home-main{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr; /* Esta propiedad separa los contenidos por columnas necesarias y su tamaño */
  height: 100%;
  background-image: url(../img/Fondo3-Dj.png); /* Este atributo nos ayuda a colocar una imagen de fondo */
  background-position: center; /* Para centrar nuestra imagen */
  background-repeat: no-repeat; /* Para no repetir la imagen y quede una sola */
  background-size: contain;
  background-color: rgb(4, 1, 10)
}

.main-container{
  display: grid;
  grid-column: 2; /* Lo que realiza esta propiedad es ubicar el contenido en la column de grid que necesitamos */
  justify-items: center;
  height: 350px;
  margin-top: 80px;
}

.main-container__text{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  /* letter-spacing: 1px; */
  color: blueviolet;
  text-shadow: 5px 3px 3px rgba(21, 0, 255, 0.738);
}

.main-container__link{
  background-color: rgb(171, 121, 218);
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  height: 45px;
  border-radius: 25px;
  border: solid 2px rgba(102, 11, 193, 0.738);
}

.main-container__link:hover{
  background-color: blueviolet;
}


/* ------------------- PAGINA DE BLOGS Y EDICION ------------------- */

.blogs-main{
  display: grid;
}

.news{
  background-color: #e6e9ed;
  padding: 10px 80px 40px;
}

.news-content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}

.news-content video{
  grid-column: 1;
  width: 65%;
  display: inline-block;
  margin: 15px 0;
  border-radius: 15px;
  border: blueviolet solid 2px;
  box-shadow: 5px 2px 2px rgba(21, 0, 255, 0.738);
}

.news-info{
  grid-column: 2;
}

.news-info h2{
  margin-top: 15px;
}

.news-info p{
  margin: 20px 0;
}

/* ------------------- BTN DE BLOGS ------------------- */
.blogs-btn{
  text-decoration: none;
  background-color: rgb(171, 121, 218);
  display: inline-block;
  padding: 5px 18px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  height: 45px;
  border-radius: 25px;
  border: solid 2px rgba(102, 11, 193, 0.738);
}

.posts{
  padding: 0 80px 40px;
  text-align: center;
}

.posts h3{
  border-bottom: 1px solid #cdd2da;
  padding: 20px 0;
  text-align: center;
}

.posts-blog{
  display: inline-block;
  padding: 15px;
  max-width: 32%;
  margin-bottom: 50px;
}

.posts-blog img{
  width: 100%;
  border-radius: 15px;
  border: 2px solid blueviolet;
  box-shadow: 5px 4px 2px rgba(21, 0, 255, 0.738);
}

.posts-blog h4{
  margin: 20px 0;
}

.posts-blog p{
  margin-bottom: 25px;
}

/* ------------------- SECCION DEL FOOTER ------------------- */

footer{
  width: 100%;
  height: 80px;
  background-color: #22272d;
  border-top: 25px solid rgb(171, 121, 218);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p{
  color: #fff;
  text-align: center;
}

/* ------------------- SECCION DEL BLOG.html ------------------- */
.main-blog{
  padding: 0 80px 40px;
}

.main-blog__content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 500px;
  height: 300px;
  border: 2px solid blueviolet;
  border-radius: 15px;
  box-shadow: 5px 4px 2px rgba(21, 0, 255, 0.738);
}

.blog-content__article{
  padding: 0 40px 40px;
  text-align: center;
}

.blog-content__article h4{
  border-bottom: 1px solid #cdd2da;
  padding: 15px 0;
  font-size: 20px;
}

.blog-content__article h1{
  margin: 15px 0;
  font-size: 35px;
}


/* ------------------- SECCION DE CONTACTO ------------------- */
.section-contact{
  width: 100%;
  height: 150px;
  background-color: #e6e9ed;
  display: flex;
  justify-content: space-between;
  padding: 10px 80px 50px;
}

.contact{
  display: flex;
  margin: 10px 0px 20px 20px;
}

.contact img{
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.contact-info{
  padding: 10px 0;
  width: 300px;
}

.contact-info a{
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
}

.contact-info a:hover{
  color: blueviolet;
}

.contact-info p{
  margin-top: 10px;
}


/* ------------------- SECCION DE PROFILE ------------------- */
.profile{
  padding: 70px 100px;
  background-color: #e6e9ed;
  margin-bottom: 5px;
  display: flex;
}

.profile-info{
  text-align: justify;
}

.profile img{
  width: 320px;
  margin-right: 30px;
  border: 2px solid blueviolet;
  border-radius: 15px;
  box-shadow: 5px 4px 2px rgba(21, 0, 255, 0.738);
}

.projects-container{
  padding: 0 80px 40px;
  text-align: center;
}

.projects-container h3{
  border-bottom: 1px solid #cdd2da;
  padding: 20px;
  text-align: center;
}

.project{
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.project h4{
  margin: 10px 0;
}



@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap')



